---
interface Props {
    leftLabel: string;
    rightLabel: string;
}
const { leftLabel: upperLabel, rightLabel: lowerLabel } = Astro.props;
---

<div class="wheat-card__duality" aria-hidden="true">
    <div class="wheat-card__path wheat-card__path--salvation">
        <span class="wheat-card__path-label">{upperLabel}</span>
        <div class="wheat-card__sun"></div>
        <div class="wheat-card__horizon"><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
        <div class="wheat-card__constellation"><i></i><i></i><i></i><i></i><i></i></div>
    </div>
    <div class="wheat-card__path wheat-card__path--bondage">
        <span class="wheat-card__path-label">{lowerLabel}</span>
        <div class="wheat-card__furrows"><i></i><i></i><i></i><i></i><i></i></div>
        <div class="wheat-card__workers"><i></i><i></i><i></i><i></i><i></i></div>
        <div class="wheat-card__bars"><i></i><i></i><i></i><i></i><i></i><i></i></div>
    </div>
    <div class="wheat-card__plant">
        <div class="wheat-card__ear">
            <div class="wheat-card__awns">
                <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
            </div>
            <div class="wheat-card__grains">
                <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i
                ></i><i></i><i></i>
            </div>
        </div>
        <div class="wheat-card__stem"></div>
        <i class="wheat-card__leaf wheat-card__leaf--left"></i>
        <i class="wheat-card__leaf wheat-card__leaf--right"></i>
        <div class="wheat-card__seed"></div>
        <div class="wheat-card__roots"><i></i><i></i><i></i><i></i><i></i></div>
    </div>
    <div class="wheat-card__choice"><span>↑</span><i></i><span>↓</span></div>
</div>
